body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:thistle;
}

.background_image{
  background-image: url(./Main_background.png);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  background-size: cover; 
  
}

.background_image_userview{
  background-image: url(./Register.png);
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  background-size: cover; 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  text-align: center;
}

.userInfo {
  align-items: 'center';
  flex: 1;
  justify-content: 'center';
  width: 200px;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-radius: 5px;
  background-color: aliceblue;
}

thead {
  background-color: #96e296;
  color: rgb(0, 0, 0);
}

tbody {
  background-color: #e7ce42;
  color: rgb(0, 0, 0);
}

* { box-sizing: border-box }

.loginButton {
  margin-top: 15px;
  background-color:rgb(109, 178, 235);
  border: 1px solid transparent;
  width: 200px;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
}

.loginButton:hover {
  background-color:rgb(0, 136, 247);
  color: rgb(0, 0, 0);
}

.registerButton {
  margin-top: 15px;
  background-color:rgb(82, 40, 13);
  border: 1px solid transparent;
  width: 200px;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  color: white;
}

.registerButton:hover {
  background-color: #180a06;
  color: white;
}

.logoutButton {
  margin-top: 15px;
  background-color:rgb(221, 145, 82);
  border: none;
  width: 200px;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;

}

.logoutButton:hover {
  background-color: #be3c15;
  color: white;
}

.linkButton {
  border: 1px solid;
  background-color: inherit;
  color: #000000;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
}

.deleteButton {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:rgb(165, 179, 42);
  border: none;
  padding: 15px;
  width: 200px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
}

.deleteButton:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.inputBox {
  width: 200px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
}

h1 {
  font-size: 50px;

}

.registerComponent {
  border: 1px solid;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 400px;
  background-color: cadetblue;
  border-radius: 5px;
}

.loginComponent {
  border: 1px solid;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 400px;
  background-color:darkseagreen;
  border-radius: 5px;
}

